<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <nav>
         <img src="https://i.imgur.com/QTaaQyZ.png?1" alt="">
    </nav>
   <h1 class="home">Welcome, Brianna</h1>
  
   <div class="home-link"><a   href="/meal-planner/weekly-meals"> Go To Weekly Meals </a></div> 






</body>
</html>