<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %> 
<body>
    <nav>
       <div class="nav-bar">
        <a class="nav-one" href="/meal-planner">Home </a> 
        <img src="https://i.imgur.com/QTaaQyZ.png?1" alt="">
        
        <a class="nav-two" href="/meal-planner/weekly-meals">All Meals </a> 
     </div>
    </nav>
    <div class="route-page">
    <h1>Add a New Meal</h1>
    
    <form  action ="/meal-planner/weekly-meals" method="POST">
        
          <div>
        <label for="day" class="titles">Day of the Week:</label><br>
        <select name="day">
          <option selected>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select>
      </div>
      <div class="one">
        <div>
        <a class="titles">Name:</a> <br>
        <input class="new-form" type="text" name="name" placeholder="Name"><br>
        </div>

        <div>
            <a class="titles">Description:</a> <br>
        <input class="new-form" type="text" name="description" placeholder="Description"><br>
        </div>
        <div>
            <a class="titles">Cooking Time:</a> <br>
            <input class="new-form" type="number" name="time" placeholder="Time"><br>
    
        </div>
    </div>
    <div class="two">
        <div> <a class="titles">Ingredients:</a> <br>
            <input type="text" placeholder="Ingredients">
            <div id="new_Ingredient"></div>
            <input type="hidden" value="1" id="totalIngredients"> 
            <button class="add" type="button">Add</button>
            <button class="remove" type="button">remove</button>
        </div>
         <input class="submit-new" type="submit" value="Create New Meal">
    </div>
       
       
      </form>
    </div>
  
</body>
</html>